<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Radar</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


</head>
<body>

<div class="outer">
    <div class="middle">
        <div class="inner">
            <div class="jumbotron " style="margin-left: 25%;margin-right: 25%">
                <h1 class="text-center" style=" font-family: 'Segoe UI Black'; font-weight: bold; color: #32383e">
                    Uzupełnij kryteria</h1><br>

                <form action="/result" method="post">


                    <div class="form-group text-center">

                        <label>Z:</label>
                        <input list="departure" name="start" id="start" required>
                        <datalist id="departure">
                            <option value="Warszawa">
                        </datalist>

                    </div>
                    <div class='form-group text-center'>

                        <label>Do:</label>
                        <input list="destination" name="stop" id="stop" required>
                        <datalist id="destination">
                            <option value="Londyn">
                        </datalist>

                    </div>
                    <div class='form-group text-center'>

                        <label>Data:</label>
                        <input id="datefield" type='date' name="date" required>
                        <script type="text/javascript">
                            var today = new Date();
                            today.setDate(today.getDate() + 1);
                            var now = today.toISOString().substring(0, 10);
                            document.getElementById("datefield").setAttribute('min', now);
                            var today14 = new Date();
                            today14.setDate(today.getDate() + 6);
                            var max_date = today14.toISOString().substring(0, 10);
                            document.getElementById("datefield").setAttribute('max', max_date);
                        </script>

                    </div>
                    <br>


                    <div class="text-center">
                        <input type="submit" value="Szukaj" class="button"
                               style="background-color: steelblue; padding: 2% 5% 2% 5%; color: white">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>